node_modules
*settings*
*class*
*bin*
*target*
*.project*
Spring-server/restapi/target/classes/log4j.properties
Spring-server/restapi/target/m2e-wtp/web-resources/META-INF/maven/com.bhaveshshah/restapi/pom.properties
