<div class="sidenav">
  <ul class="list-unstyled">
    <li class="nav-item">
      <a class="nav-link" href="#"
        ><i class="fa fa-home" aria-hidden="true"> </i> Dashboard</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/sales"
        ><i class="fa fa-list" aria-hidden="true"> </i> List</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"
        ><i class="fa fa-question-circle" aria-hidden="true"> </i> Help
        Center</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"
        ><i class="fa fa-cog" aria-hidden="true"> </i> Setting</a
      >
    </li>
  </ul>
</div>
