<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <app-textbox [control]="code" [group]="formGroup"></app-textbox>
  <app-textbox [control]="name" [group]="formGroup"></app-textbox>
  <app-textbox [control]="gender" [group]="formGroup"></app-textbox>
  <br />
  &nbsp;

  <app-textbox [control]="controls[0]" [group]="formGroup"></app-textbox>
  <app-textbox [control]="controls[1]" [group]="formGroup"></app-textbox>
  <app-textbox [control]="controls[2]" [group]="formGroup"></app-textbox>
  <br />
  &nbsp;
  <input type="submit" value="Submit" />
</form>
